langchain
ipykernel
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
beautifulsoup4
langchain_community
streamlit
langchain_groq
langchain_core
fastapi
langserve
sse_starlette
langchain-text-splitters
numexpr
langchainhub
duckduckgo_search==5.3.1b1
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
huggingface_hub
validators==0.28.1
youtube_transcript_api
unstructured
pytube
gradio